* {
  margin: 0; /*zerar a margem externa dos elementos*/
  padding: 0; /*zerar a margem interna dos elementos*/
}
header {
  /* Vamos adicionar uma imagem de fundo ao cabeçário */
  background-image: url("../img/cafeteria2.jpg");
  background-position: 0px -270px;
  height: 300px;
  transition: ease 5s;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 48pt;
  padding-top: 100px;
  text-shadow: 5px 5px 10px rgb(31, 43, 212);
}
/* Vamos formatar os elemnetos de li para ficar um ao lado do outro
com o comando display */
nav ul li {
  /* Dispor os links um ao lado do outro */
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
/* Alinnhar os elementos de link ao centro usando text-align center
  no nav, assim tudo o que estiver dentro do nave irá para o centro */
nav {
  text-align: center;
  margin-top: 50px;
  /* A cor utilizada para o fundo da barra nav foi o rgba, que 
  significa red, green, blue e alpha(transparência), onde o 
  valor mais próximo do 0(zero) é totalmente transparente e
  quando mais próximo do 1 é totalmente sólido. Neste caso
  estamos usando 80% de solidez, ou seja, aplicamos
  20% de transparência. */
  background-color: rgba(31, 43, 212, 0.4);
  padding-top: 10px;
  padding-bottom: 5px;
}
nav ul li a {
  color: rgba(255, 255, 255);
  /* Para retirar o sublinhado(underline) dos links
  utilizaremos o comando text-decoration com o valor
  none (nenhum) */
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 15pt;
  /* Aplicação de negrito na letra */
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  padding-left: 2px;
}
/* Criação da formatação do rodapé(footer) */
footer {
  background-color: rgba(209, 148, 99, 0.8);
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Raleway";
  padding-top: 10px;
  padding-bottom: 10px;
}
div ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
div a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
div a:hover {
  text-decoration: underline;
}

main {
  /* Vamos aplicar uma margem interna de 10px
  utilizaremos o comando padding */
  padding: 10px;
}
h2 {
  font-family: Raleway;
  color: rgb(31, 43, 212);
  font-size: 24pt;
  /* Bordas solid/dashed/double/dotted */
  border-bottom: 2px dashed rgb(0, 0, 0);
  text-align: center;
  text-shadow: rgb(223, 26, 190);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
h3 {
  font-family: Noto serif;
  margin-left: 70px;
  font-size: 24pt;
  color: rgb(230, 29, 96);
  margin-bottom: 30px;
  letter-spacing: 5px;
  padding-left: 400px;
  padding-top: 20px;
}
p {
  padding-left: 70px;
  padding-right: 70px;
  /* Comando parar a linhar as margens da direita e esquerda */
  text-align: justify;
  /* Aplicaremos um comando que aumenta a altura da linha esse
  efeito simula o espaçamento entre linhas encontrado no microsoft word
  o comando é line-height */
  line-height: 25px;
  margin-bottom: 30px;
  font-family: raleway;
}
#home {
  text-align: center;
}
#home img {
  width: 700px;
  height: 700px;
  margin: 20px;
  /* Vamos aplicar um efeito de transpârencia com o 
  comando opacity.Onde os valores 1 é totalmente visível e 0
  é totalmente transparecente */
  opacity: 0.8;
  border-radius: 50%;
  transition: ease 1s;
}
#home img:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
  /* transform: rotate(360deg);para fazer aimagem rodar
  transform: rotateX(360deg); rodar pra cima*/
}
#acafeteria {
  text-align: center;
}
#acafeteria img {
  width: 500px;
  border-radius: 30%;
  height: 500px;
  margin: 20px;
}

#acafeteria img:hover {
  transform: scale(1.1);
  transition: ease 1s;
  cursor: pointer;
}
#video {
  text-align: center;
}

/* Abaixo a formatação para a página cardápio */
#container,
#liha,
#imagem,
#texto {
  /* border: 2px solid black; */
}
#container {
  display: inline-block;
  /* border-bottom: 2px dashed silver; */
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-radius: 10%;
}
#linha {
  display: table;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#imagem img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: ease 3s;
}
#imagem img:hover {
  transition: ease 1s;
  cursor: pointer;
  transform: scale(1.1);
}
#imagem {
  width: 200px;
  height: 200px;
  /* Fazer a imagem flutuar para a esquerda */
  float: left;
}
#texto {
  padding: 20px;
  width: 80%;
  float: left;
}
h4 {
  font-family: Noto serif;
  margin-left: 70px;
  font-size: 15pt;
  color: rgb(0, 169, 236);
  margin-bottom: 10px;
  letter-spacing: 5px;
  text-align: center;
  padding-right: 50px;
}
